/* =====common styles===== */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    background: #ffffff;
}
img {
    width: 100%;
}
h1,
h2,
h3 {
    font-weight: bold;
    line-height: 130%;
}
h1 {
    font-size: 60px;
    letter-spacing: -0.02em;
}
h2 {
    font-size: 40px;
    color: #707070;
}
h3 {
    font-size: 28px;
    color: #18191f;
}
p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    margin: 40px 0;
}
.text-center {
    text-align: center;
}
.button {
    padding: 23px 45px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: white;
    background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
}
.flex-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

/* =====foodhut header===== */
#foodhut-header {
    margin: 20px auto 100px;
}
#foodhut-header .flex-container {
    justify-content: space-between;
    align-items: center;
}
#foodhut-header .flex-container > div {
    flex: 0 1 45%;
}
#foodhut-header .title span {
    color: #fba24f;
}
#foodhut-header .flex-container > div p {
    font-size: 20px;
    letter-spacing: -0.02em;
    font-weight: 500;
    color: #828282;
}

/* =====About me section===== */
#about-me {
    padding-top: 50px;
    background: url("images/bg_about_me.png") no-repeat right bottom;
    background-size: cover;
}
#about-me .flex-container {
    align-items: center;
    justify-content: space-around;
}
#about-me .flex-container > div {
    flex: 0 1 30%;
}

/* =====My recipies section===== */
#my-recipies {
    padding: 100px 0;
}
#my-recipies > p {
    width: 40%;
    margin: 40px auto;
}
#my-recipies .flex-container {
    justify-content: space-between;
}
#my-recipies .flex-container .recipie {
    flex: 0 1 28%;
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}
#my-recipies .flex-container .recipie img {
    border-radius: 30px;
}
#my-recipies .flex-container .recipie h3 {
    margin: 40px 0 20px;
}
#my-recipies .flex-container .recipie p {
    margin: 0 0 40px;
}

/* =====Social media count section===== */
#social-media-count .flex-container {
    justify-content: space-around;
    padding: 50px 0;
    margin: 100px auto;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
#social-media-count .flex-container p {
    margin: 0;
}

/* =====User review section===== */
#user-review {
    padding: 100px 0;
}
#user-review h2 {
    margin-bottom: 100px;
}
#user-review .flex-container {
    justify-content: space-between;
}
#user-review .flex-container .review {
    flex: 0 1 28%;
    padding: 25px;
    background: #f9a990;
    color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
#user-review .flex-container p {
    font-weight: 500;
    font-size: 20px;
}

/* =====Newsletter section===== */
#newsletter {
    padding: 100px 0;
    background: url("images/bg_newsletter.jpg") no-repeat top right;
    background-size: cover;
}
#newsletter .flex-container {
    justify-content: center;
}
#newsletter .flex-container input {
    flex: 0 1 30%;
    padding: 0 20px;
}
#newsletter .flex-container .button {
    border-radius: 0 100px 100px 0;
}

/* =====Foodhut footer section===== */
#foodhut-footer {
    padding: 50px 0 100px;
    background: #0B0D17;
    color: #fff;
}
#foodhut-footer h1 {
    color: #5B5B5B;

}
#foodhut-footer h1 span {
    color: #fba24f;
}
